# Credential file
.env

# Byte-compiled Python files
__pycache__/

# Logs
logs/

# Data files
*.json
*.png
*.txt
*.csv
*.tsv
*.pdf
*.log
*.xlsx
*.xml
*.html

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Jupyter notebooks for development
notebooks/dev*.ipynb

.snakemake
